<!DOCTYPE html>
<html>
<head>
    <title>订单退款表</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <a id="btn-power-add" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a id="btn-power-update" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a id="btn-power-del" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单编号,系统生成</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodOrderBack.orderNo" placeholder="订单编号,系统生成"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">客服编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodOrderBack.serviceNo" placeholder="客服编号"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">客服姓名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodOrderBack.serviceNickname" placeholder="客服姓名"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">退款原因</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodOrderBack.remark" placeholder="退款原因"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">反馈时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodOrderBack.feddbackTime" placeholder="反馈时间"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">审核时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodOrderBack.checkTime" placeholder="审核时间"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">处理情况</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodOrderBack.checkRemark" placeholder="处理情况"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">反馈用户</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodOrderBack.userId" placeholder="反馈用户"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">审核人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodOrderBack.checkId" placeholder="审核人"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">退款金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodOrderBack.payAmount" placeholder="退款金额"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodOrderBack.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">状态0=未处理，1=已处理</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodOrderBack.status" placeholder="状态0=未处理，1=已处理"/>
                        </div>
                    </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="/statics/js/modules/fastfood/foodorderback.js?_${.now?long}"></script>
</body>
</html>