<!DOCTYPE html>
<html>
<head>
    <title>餐品原料表</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">原料名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodMaterial.name" placeholder="原料名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">原料分类ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodMaterial.catId" placeholder="原料分类ID"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">状态0=未上架，1=已上架</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodMaterial.status" placeholder="状态0=未上架，1=已上架"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">规格</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodMaterial.spec" placeholder="规格"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">图片</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodMaterial.picture" placeholder="图片"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodMaterial.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodMaterial.createBy" placeholder="创建人"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodMaterial.updateBy" placeholder="修改人"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="foodMaterial.updateTime" placeholder="修改时间"/>
                        </div>
                    </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="/statics/js/modules/fastfood/foodmaterial.js?_${.now?long}"></script>
</body>
</html>