<!DOCTYPE html>
<html>
<head>
<title>支付配置</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="/statics/css/bootstrap.min.css">
<link rel="stylesheet" href="/statics/css/font-awesome.min.css">
<link rel="stylesheet" href="/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="/statics/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="/statics/css/main.css">
<script src="/statics/libs/jquery.min.js"></script>
<script src="/statics/plugins/layer/layer.js"></script>
<script src="/statics/libs/bootstrap.min.js"></script>
<script src="/statics/libs/vue.min.js"></script>
<script src="/statics/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="/statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="/statics/js/common.js"></script>
<link rel="stylesheet" href="/statics/css/bootstrap-table.min.css">
<link rel="stylesheet" href="/statics/plugins/treegrid/jquery.treegrid.css">
<script src="/statics/libs/bootstrap-table.min.js"></script>
<script src="/statics/plugins/treegrid/jquery.treegrid.min.js"></script>
<script src="/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
<script src="/statics/plugins/treegrid/jquery.treegrid.extension.js"></script>
<script src="/statics/plugins/treegrid/tree.table.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			<a class="btn btn-primary" @click="toTestPay"><i class="fa fa-trash-o"></i>&nbsp;测试支付</a>
		</div>
		<table id="configTable" data-mobile-responsive="true" data-click-to-select="true">
			<thead>
			<tr>
				<th data-field="selectItem" data-checkbox="true"></th>
			</tr>
			</thead>
		</table>
	</div>

    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">支付方式</div>
				<label class="radio-inline">
					<input type="radio" name="type" v-model="config.type" value="1"/> 支付宝快捷支付（WAP）
				</label>
			</div>
			<div class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">Group</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.group" placeholder="分组名，唯一"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">AppId</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.appid" placeholder="支付宝分配给开发者的应用ID"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">&nbsp;</div>
					<p class="form-control-static"><a href="https://docs.open.alipay.com/58/103242" target="_blank">RSA2私钥及公钥生成 注意：RSA1为1024，RSA2=2048</a></p>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">私钥</div>
					<div class="col-sm-10">
						<textarea rows="10" cols="10" class="form-control" v-model="config.privateKey" placeholder="RSA2 PRIVATE KEY"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">公钥</div>
					<div class="col-sm-10">
						<textarea rows="10" cols="10" class="form-control" v-model="config.publicKey" placeholder="RSA2 PUBLIC KEY"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">商户号</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.mercNo" placeholder="mercNo"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">支付成功用户返回URL</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.returnUrl" placeholder="支付成功用户返回URL"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">支付结果异步通知URL</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.notifyUrl" placeholder="支付结果异步通知URL"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">RabbitMQ队列名（回调校验成功后调用）</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="config.queueName" placeholder="不设置默认为空"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
	
	<div v-show="!showTest" class="panel panel-default">
		<div class="panel-heading">测试支付</div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">支付方式</div>
				<label class="radio-inline">
					<input type="radio" name="type" v-model="order.type" value="1"/> 支付宝快捷支付（WAP）
				</label>
			</div>
			<div class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">商品订单号</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="order.outTradeNo" placeholder="商品订单号"/>
					</div>
				</div>
			</div>
			<div class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">支付主题名</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="order.subject" placeholder="支付主题名"/>
					</div>
				</div>
			</div>
			<div class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">订单价格</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="order.totalAmount" placeholder="订单价格"/>
					</div>
				</div>
			</div>
			<div class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">支付用户</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="order.userId" placeholder="支付用户ID"/>
					</div>
				</div>
			</div>
			<div class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">说明</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="order.body" placeholder="说明（非必填）"/>
					</div>
				</div>
			</div>
			<div class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">IP</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="order.spbill_create_ip" placeholder="支付IP（非必填）"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="testPay" value="支付"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="/statics/js/modules/pay/alipay.js"></script>
</body>
</html>