<!DOCTYPE html>
<html>
<head>
    <title>首单活动表</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <a id="btn-power-add" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a id="btn-power-update" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a id="btn-power-del" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">活动名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="operateActivityFirstOrder.name" placeholder="活动名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="operateActivityFirstOrder.amount" placeholder="金额"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">开始时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="operateActivityFirstOrder.startTime" placeholder="开始时间"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">结束时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="operateActivityFirstOrder.endTime" placeholder="结束时间"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">状态0=禁用，1=启用</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="operateActivityFirstOrder.use" placeholder="状态0=禁用，1=启用"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">描述</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="operateActivityFirstOrder.remark" placeholder="描述"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">编辑人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="operateActivityFirstOrder.updateBy" placeholder="编辑人"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="operateActivityFirstOrder.updateTime" placeholder="修改时间"/>
                        </div>
                    </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="/statics/js/modules/operate/operateactivityfirstorder.js?_${.now?long}"></script>
</body>
</html>